.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background-color: #045a54;
  color: white;
  margin: 24px;
  font-family: 'Trebuchet MS', tahoma, sans-serif;
}

.page {
  margin: auto;
  width: 360px;
}

.container {
  position: absolute;
  text-align: center;
}

.titleText {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -55%);
}

.subText {
  position: absolute;
  top: 80px;
  left: 60%;
  transform: translate(-50%, -60%);
  width: 100%;
}

.startButton {
  position: absolute;
  top: 485px;
  left: 50%;
  transform: translate(-50%, 30%);
  width: 200px;
  height: 80px;
  font-size: 24px;
  font-family: 'Trebuchet MS', tahoma, sans-serif;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 18px;
}

h2 {
  font-size: 16px;
}

.questionText {
  position: absolute;
  top: 85px;
  left: 80%;
  transform: translate(-65%, -20%);
  width: 300px;
  text-align: center;
}

button {
  width: 300px;
  height: 100px;
  font-family: 'Trebuchet MS', tahoma, sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 18px;
}

.answer1 {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%, 30%);
}

.answer2 {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 30%);
}

.answer3 {
  position: absolute;
  top: 480px;
  left: 50%;
  transform: translate(-50%, 30%);
}

.answer4 {
  position: absolute;
  top: 610px;
  left: 50%;
  transform: translate(-50%, 30%);
}
