.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #045a54;
  color: white;
  margin: 24px;
  font-family: 'Trebuchet MS', tahoma, sans-serif;
}

.page {
  margin: auto;
  width: 360px;
}

.container {
  position: absolute;
  text-align: center;
  width: 40%;
  height: 100%;
}

.background {
  background-image: url("/public/assets/title.jpg");
  width: 100%; 
  height: 600px;
  background-size: 362px;
}

.Qbackground {
  background-image: url("/public/assets/background.jpg");
  width: 100%; 
  height: 850px;
  }

.titleText {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -55%);
  font-weight: bolder; 
}

.subText {
  position: absolute;
  top: 50px;
  left: 15%;
  width: 100%;
}

.startButton {
  position: absolute;
  top: 480px;
  left: 50%;
  transform: translate(-55%, 30%);
  width: 200px;
  height: 80px;
  font-size: 24px;
}

.QtitleText {
  position: absolute;
  top: 0px;
  left: 20px;
  margin: 0px auto;
  font-weight: bolder; 
  width: 300px;
}

h2 {
  font-size: 16px;
}

.questionText {
  position: absolute;
  top: 75%;
  width: 300px;
  text-align: center;
  margin: 0px auto;
}

button {
  width: 300px;
  height: 100px;
  font-family: 'Trebuchet MS', tahoma, sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 18px;
  margin: 10px;
}

.answerButtons {
  position: absolute;
  top: 265px;
  margin: 0px auto;
  width: 360px; 
}

.buttonNext {
  width: 120px;
  height: 50px;
  position: absolute;
  top: 750px;
  left: 190px;
}

.buttonPrev {
  width: 120px;
  height: 50px;
  position: absolute;
  top: 750px;
  left: 30px;
}

.resultImg {
  background-color: white;
  width: 360px; 
  height: 550px;
  margin: 0px auto; 
}

h3 {
  font-size: 30px;
  text-align: center;
}

.brain {
  background-image: url("/public/assets/brain.jpg");
  background-size: 360px;
}

.heart {
  background-image: url("/public/assets/heart.jpg");
  background-size: 360px;
}

.lungs {
  background-image: url("/public/assets/lungs.jpg");
  background-size: 360px;
}

.stomach {
  background-image: url("/public/assets/stomach.jpg");
  background-size: 360px;
}