body {
    background-color: #045a54;
    color: white;
    margin: 24px;
    font-family: 'Trebuchet MS', tahoma, sans-serif;
}

.page {
    margin: auto;
    width: 360px;
}

.container {
    position: absolute;
    text-align: center;
}

.titleText {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -55%);
}

.subText {
    position: absolute;
    top: 80px;
    left: 60%;
    transform: translate(-50%, -60%);
    width: 100%;
}

.startButton {
    position: absolute;
    top: 485px;
    left: 50%;
    transform: translate(-50%, 30%);
    width: 200px;
    height: 80px;
    font-size: 24px;
    font-family: 'Trebuchet MS', tahoma, sans-serif;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 18px;
}

h2 {
    font-size: 16px;
}
